body{
  margin: 0;
  text-align: center;
}

#main{
  margin: 64px auto;
  width: 626px;
  height: 486px;
}

.wave{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 32px auto 16px;
}

h1 span{
  color: #EE24FF;
  font-weight: 700;
}

p{
  font-family: 'Open sans', sans-serif;
  line-height: 22px;
  font-size: 15px;
  color: #828282;
  font-weight: 400;
  width: 540px;
  margin: 0 auto 32px;
}

p strong{
  font-weight: 700;
  color: #3F3D56;
}

footer a{
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #3F3D56;
  text-decoration: none;
}

a + a{
  margin-left: 42px;
}