.page{
  width: 1008px;
  margin: 65px auto 0;
}

.text p{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  width: 438px;
  margin-bottom: 40px;
  padding: 0;
}

.bolinhas{
  position: fixed;
  bottom: 0;
  right: 0;
}

body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, rgba(227, 255,248, 0) 82.08%, rgba(277, 255, 248, 0.3) 100%);
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

a{
  text-decoration: none;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style: none;
  gap: 48px;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

ul a {
  color: #1F1534;
  opacity: 0.5;
}

ul a:hover{
  font-weight: bold;
  opacity: 1;
}

h1{
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  width: 490px;
  margin-bottom: 40px;
  padding: 0;
}

h1 span{
  font-weight: bold;
  color: #89C5CC;
}

button{
  font-family: 'DM Sans', sans-serif;
  color: #F9F9F9;
  background-color: #69B99D;

  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  border: none;
  padding: 14px 32px 15px;
  border-radius: 4px;

  cursor: pointer;
}

button:hover{
  background-color: #267559;
}

footer{
  text-align: center;
  margin-top: 82px;
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
}

footer a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

footer a:hover{
  color:#585858;
}
